html
 head
  title Add Target
 body
  form(name="addTarget" method="POST" action="/addJSONTarget")
   ="URL"
   input(type="text" name="url" value=url)
   br
   ="Script"
   textarea(name="k")
    = k
   br
   ="Tag"
   input(type="text" name="tag" value=tag)
   br
   input(type="submit" value="Submit")
   