html
 head
  title Add Target
 body
  form(name="addTarget" method="POST" action="/addTarget")
   ="URL"
   input(type="text" name="url")
   br
   ="Filter RegEx"
   input(type="text" name="re")
   br
   ="Script"
   textarea(name="k")
   br
   input(type="submit" value="Submit")
   