meta(name="viewport" content="width=device-width, initial-scale=1.0")
script(type="text/javascript" src="jquery.min.js")
script(type="text/javascript").
 $(document).ready(function()
 {
 
 });
style(type="text/css").
 a
 {
 text-decoration:none;
 color:gray;
 font-size:20px;
 }
 .tag a:hover
 {
 background:white;
 }
 .category
 {
 padding-top:20px;
 }
 a.k
 {
 text-decoration:none;
 color:black;
 font-size:20px;
 }
 .tag
 {
 float:left;
 background:rgba(20,24,82,0.8);
 margin:2px;
 padding:2px;
 border:groove blue;
 }
 #settings
 {
 display:block;
 }
 #filter
 {
 border:groove gray;
 clear:both;
 }
 #nav
 {
 list-style:none;
 padding:0px;
 align:right;
 }
 #nav li ul
 {
 display:none;
 position:absolute;
 z-index:200;
 list-style:none;
 padding:0px;
 }
 #nav li:hover ul
 {
 display:block;
 }
 #dates a
 {
 display:block;
 float:left;
 background:green;
 margin-right:4px;
 }
 