div
 ul#nav
  li
   a(href="/") Home
  li
   a(href="/addTarget") Add Target
  li
   a(href="/addJSONTarget") Add JSON Target
  li
   a(href="/viewTargets") View Targets
  li
   a(href="/viewCommonWords") View Common Words
