form(name="newsfilter" action="" method="get")
 input(type="date" name="date" placeholder="date" value=date)
 input(type="text" name="p" placeholder="Period(Days)" value=i1)
 input(type="text" name="srch" placeholder="Content Search" value=srch)
 input(type="submit" value="Filter")
 